{# Delivery Additional Infos #}
<div class="livraison mt-3 p-0">
    <div class="card flex-fill m-0 p-3 d-flex flex-column">
        <h2 class="mb-3">Livraison</h2>

        <div class="m-0 py-2 d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <input type="radio" name="civilite" value="mr" checked>
                <div class="m-0 pl-3 d-flex flex-column">
                    <p class="m-0">Livraison Vesoul-Edition</p>
                </div>
            </div>
            <p class="m-0 price">Gratuite</p>
        </div>

        <textarea class="mt-2" name="delivery-instructions" placeholder="Si vous avez un message pour le livreur, laissez le ici. Merci"></textarea>

    </div>
</div>
