<nav id="menu-compte" class="col-3 align-items-start">
    <h2 class="text-center">Mon compte</h2>
    <ul>
        <li>
            <a class="list" href="{{ path('dashboard_user_informations' ) }}">INFORMATIONS</a>
        </li>
        <li>
            <a class="list " href="{{ path('dashboard_user_addresses' ) }}">ADRESSES</a>
        </li>
        <li>
            <a class="list" href="{{ path('dashboard_user_commands' ) }}">COMMANDES</a>
        </li>
    </ul>
</nav>