.adminLogin {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    background-color: rgb(21, 21, 21);

    .form-signin {
        background-color: rgb(49, 49, 49);
        border-radius: 2px;
        width: 50%;
        height: 50%;
        position: absolute;
        top: 25%;
        left: 25%;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 70%;
        height: 70%;
        top: 15%;
        left: 15%;
    }
    
    @media (min-width: 576px) and (max-width: 767.98px) {
        width: 70%;
        height: 70%;
        top: 15%;
        left: 15%;
    }
    
    @media (max-width: 575.98px) {
        width: 75%;
        height: 75%;
        top: 12.5%;
        left: 12.5%;
    }

        h1 {
            color: white;
            @media (min-width: 768px) and (max-width: 991.98px) {

            }
            
            @media (min-width: 576px) and (max-width: 767.98px) {
                font-size: 2rem;
            }
            
            @media (max-width: 575.98px) {
                font-size: 2rem;
            }
        }

        div {
            .btn {
                color: white;
            }
        }

        a {
            color: white;
            text-decoration: none;
            transition: all 0.3s;

            i {
                transition: all 0.3s;
                font-size: 1.5rem;
                color: white;
                text-decoration: none;
            }

            &:hover {
                color: rgb(160, 160, 160);

                i {
                    color: rgb(160, 160, 160);
                }
            }
        }

    }
}


@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (max-width: 575.98px) {

}