.hamburger {
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: 1;
    transition: 0.3s;
    padding: 0px 10px;

    @media (min-width: 576px) and (max-width: 767px) {
        top: 5%;
        left: 5%;
    }
    @media (max-width: 575px) {
        top: 3%;
        left: 4%;
    }

    &:hover div {
        transform: scale(1.2);
        cursor: pointer;
        // transform: translateY(-10px);
    }

    @media (max-width: 575px) {
        width: 32px;
        height: 3px;
        margin: 4px 0px;
    }

    .btn-menu {
        width: 40px;
        height: 5px;
        background-color: rgba(0, 0, 0, 0.78);
        border-radius: 5px;
        margin: 5px 0px;
        transition: .2s ease-out;
        box-shadow: 0px 5px 16px #00000087;

        @media (min-width: 576px) and (max-width: 767px) {
            width: 32px;
            height: 3px;
            margin: 4px 0px;
        }
        @media (max-width: 575px) {
            width: 32px;
            height: 3px;
            margin: 4px 0px;
        }

    }
}

.navigation{
    transition: all 0.5s ease;
    position: fixed;
    z-index: 3;
    min-height: 100vh;
    width: 15%;
    background-color: #383838;


    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 30%;
        position: relative;
        left: -30%;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        width: 40%;
        position: relative;
        left: -40%;
    }
    
    @media (max-width: 575.98px) {
        width: 100%;
        position: relative;
        left: -100%;
    }
    nav{
        .closeBtn{
            font-size: 1.5rem;
            color: white;
        }
        .button-active{
            color: white;
        }
        hr{
            width: 75%;
            border-color: #666666;
        }
        a{
            color: #999999;
            font-weight: bold;
            transition: all 0.3s; 
            &:hover{
                text-decoration: none;
                color: white;
            }
            h1{
                text-decoration: none;
                font-size: 1.4rem;
                color: white;
                @media (min-width: 768px) and (max-width: 991.98px) { 
                    font-size: 1.3rem;
                }
            }
        }
    }
    .deconnexion{
        font-weight: bold;
        color: #999999;
        transition: all 0.3s;
        &:hover{
            text-decoration: none;
            color: white;
        }
    }
}
.displayMenu{
    position: absolute;
    left: 0;
}
