/* Fix Description textarea height to ~= 3 input type text */
#book_description {
  height: 500px;
}

/* give submit/cancel buttons the same min-width */
#book_submit,
#book_cancel {
  min-width: 105px;
}
#book_newbtn {
  width: 100%;
}

#book_new {
  display: none;
}

/* Use fr lang for image "browse" button */
.custom-file-label::after {
  content: "Sélectionner";
}