/* Fix Description textarea height to ~= 3 input type text */
#book_description {
  height: 383px;
}

/* give submit/cancel buttons the same min-width */
#book_submit,
#book_cancel {
  min-width: 105px;
}
#book_newbtn {
  width: 100%;
}

#book_new {
  display: none;
}

/* Use fr lang for image "browse" button */
.custom-file-label::after {
  content: "Sélectionner" !important;
}

#img-display-container {
  height: 155px;
  margin-bottom: 1rem;

  .card {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// Delete Modale
#lightboxDelete {
  .modal-dialog {
    .modal-content {
      .modal-body {
        div {
          .supprimer {
            background-color: $color-supprimer;
            border: none;
            color: white;
            font-weight: bold;
            border-radius: 0.25rem;
            transition: all 0.3s ease;

            &:hover {
              cursor: pointer;
              background-color: #B03229;
            }
          }
        }
      }
    }
  }
}