<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Merci pour votre commande</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }
        h1 {
            background-color: #00bcd4;
            color: #ffffff;
            padding: 1.8rem 0;
            font-weight: normal;
        }
        hr {
            border: none;
            border-top: 3px solid #264459;
            margin: 1.2rem;
        }
        .container {
            background-color: #fefefe;
            width: 100%;
            max-width: 580px;
            margin: 0 auto;
        }
        .bottom {
            background-color: #efefee;
        }
        .block {
            margin: 0;
            padding: 0.8rem 1.2rem 1.2rem 1.2rem;
        }
        .logo {
            max-width: 250px;
            width: 50%:
        }
        .text-center {
            text-align: center;
        }
        .btn {
            display: inline-block;
            padding: 0.8rem 1.2rem;
            background-color: #00bcd4;
            color: #fefefe;
            border: 1px solid #fff;
            border-radius: 3px;
            font-size: 1.2rem;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>

<body>
<div class="body">
    <div class="container">

        <div class="header text-center">
          <a href="{{ url('home') }}">
              <img src="{{ absolute_url(asset('build/images/book-open.png')) }}"
                   class="logo" alt="Logo">
            </a>
        </div>

        <div class="content">
            <h1 class="text-center">Merci pour pour votre confiance !</h1>

            <p class="block">
            <strong>Votre commande est en cours de préparation</strong>.<br><br>
                Nous allons vous recontacter très vite afin d'établir les
                modalités de paiement.
            </p>

            <p class="block">
                Nous pourrons ensuite vous faire parvenir votre commande au plus
                vite !
            </p>

            <p class="block text-center">
                <a href="{{ url('home') }}" class="btn ">Vesoul Edition</a>
            </p>

            <p class="block text-center">
                En cliquant sur ce lien il vous sera possible de suivre
                l'avancement de votre commande.
            </p>

            <p class="block text-center">
                <a href="{{ url('dashboard_user_orders') }}" class="btn ">
                    Mes commandes
                </a>
            </p>

            <p class="block">
                Cordialement,<br><br>
                <em>Votre fidèle serviteur</em>, Christian Petit.
            </p>
        </div>

    </div>
</div>

</body>
</html>

